.avtive_channel{
	background-color: var(--color4);
}

#custom_modal{
	background-color: var(--color3);
	height: 600px;
	width: 900px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 30px;

}
#custom_modal > :first-child{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#custom_modal > :nth-child(2){
	width: 100%;
}
#custom_modal > :nth-child(2) > *{
	cursor: pointer;
}

#custom_modal > :nth-child(2) > * > :first-child{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: 1px solid var(--color7);
	padding: 20px;
}
#custom_modal > :nth-child(2) > * > :nth-child(3){
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid var(--color7);
	border-top: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
#custom_modal > :nth-child(2) > * > :first-child{
	display: flex;
	align-items: center;
	flex-direction: row;
}
#custom_modal > :nth-child(2) > * > :first-child > :first-child{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
#custom_modal > :nth-child(2) > * > :first-child > :nth-child(2){
	display: flex;
	flex-direction: column;
}
#custom_modal > :nth-child(2) > * > :first-child > :nth-child(2) > :nth-child(2){
	margin-top: 5px;
}


#custom_modal > :nth-child(2) > :nth-child(2) > :first-child {
	background-color: black;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}








#custom_modal > :nth-child(3){
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 90%;
	overflow-y: auto;
}

#custom_modal > :first-child > *:nth-child(2){
	width: 30px;
	height: 30px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 5px;
	align-self: center;
}

#custom_modal > :first-child > *:nth-child(2):hover{
	background-color: var(--color6);
}
#custom_modal > :nth-child(3){
	padding:20px;
}

#custom_modal > :nth-child(3) > *{
	cursor: pointer;
	padding:20px;
	width: 250px;
}

#custom_modal > :nth-child(3) > * > :first-child > :first-child{
	height: 15px;
	border-radius: 5px;
	background-color: var(--color4);
	width: 70%;
}
#custom_modal > :nth-child(3) > * > :first-child > :nth-child(2){
	border-radius: 100%;
	background-color: var(--text-color);
	height: 20px;
	width: 20px;
}
#custom_modal > :nth-child(3) > * > :first-child{
	background-color: var(--color1);
	height: 30px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: solid 1px var(--color7);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}
#custom_modal > :nth-child(3) > * > :nth-child(2){
	/*height: 130px;*/
	background-color: var(--color2);
	border: solid 1px var(--color7);
	border-bottom: none;
	border-top: none;

}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(3){
	background-color: var(--color4);
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :first-child,
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(2),
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(3),
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(4){
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :first-child > :first-child,
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(2) > :first-child,
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(3) > :first-child,
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(4) > :first-child{
	margin-right : 2px;
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :first-child > :first-child{
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color7);
	width: 70%;
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(2)  > :nth-child(2){
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color7);
	width: 70%;
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(3)  > :nth-child(2){
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color7);
	width: 70%;
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(4)  > :first-child{
	width: 4px;
	height: 4px;
	padding: 4px; 
	border-radius: 10px;
	margin-left : 2px;
	margin-right : 4px;
	background-color: var(--color1);
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(4)  > :nth-child(3){
	width: 4px;
	height: 4px;
	padding: 4px; 
	border-radius: 10px;
	margin-left : 20px;
	margin-right : 4px;
	width: 50px;
	background-color: var(--color8);
}
#custom_modal > :nth-child(3) > * > :nth-child(2) > :nth-child(4)  > :nth-child(2){
	padding: 5px;
	border-radius: 10px;
	background-color: var(--color7);
	width: 70%;
}
#custom_modal > :nth-child(3) > * > :nth-child(3){
	border: solid 1px var(--color7);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
}

#custom_modal input{
	margin-right: 10px;
}















.quote{
	padding: 10px;
	width: fit-content;
	background-color: var(--color5);
	border-radius: 10px;
	border: 1px solid var(--color7);
}
.code{
	background-color: var(--color7);
	border-radius: 10px;
}
.code_block{
	background-color: var(--color7);
	border-radius: 10px;
}


ul li, ol li {  
	margin-left: 20px;
}


.modal{
	z-index: 100;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}
.link_modal, .workspace_modal, .show_add_notifications, .show_profile{
	background-color: transparent;
}
#show_add_notifications,  #show_profile{
	position: absolute;
	top: 65px;
	right: 20px;
	background-color: var(--color6);
	border: 1px solid var(--color7);
	border-radius: 10px;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-y: auto;
}
#show_add_notifications > *,
#show_profile > *{
	padding: 10px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
#show_add_notifications > *:hover,
#show_profile > *:hover{
	background-color: var(--color1);
}





#fake_url{
	width: 100%;
	height: 100%;
	background-color: red;
}








#workspace_modal{
	position: absolute;
	top: 65px;
	left: 20px;
	background-color: var(--color6);
	border: 1px solid var(--color7);
	border-radius: 10px;
	width: 350px;
	padding-top: 10px;
	overflow-y: auto;
}
#workspace_modal > *:not(:first-child):not(:last-child){
	border-top: 1px solid var(--color7);
	padding-bottom:10px;
	padding-top:10px;
}
#workspace_modal > * > *{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
#workspace_modal > * > *:hover{
	background-color: var(--color4);
}
#workspace_modal > :first-child > :nth-child(2){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;

}

#workspace_modal > :nth-child(4) > :first-child{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#workspace_modal > :nth-child(3) > :nth-child(2){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}




.submenu{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	left: 370px;
	background-color: var(--color6);
	border: 1px solid var(--color7);
	border-radius: 10px;
	width: 250px;/*
	padding-top: 10px;
	padding-bottom: 10px;*/
	z-index: 100;
	top: 319px;
}
.submenu ~ .submenu{
	top: 369px;
}




#workspaces_list > *,
#settings_list > *{
	margin-top: 10.5px;
	margin-bottom: 10.5px;
}

#workspaces_list > *,
#settings_list > *{
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;

}
#workspaces_list > *:hover,
#settings_list > *:hover{
	background-color: var(--color4);
}



#workspaces_list > *:not(:first-child),
#settings_list > *:not(:first-child){
	padding-bottom:10px;
	padding-top:10px;
	
}































:root {
	--text-color: white;
	--color1: #6715eb; /* #d53c9f */
	--color2: #14101a; /*  */
	--color3: #1a1d21; /*  */
	--color4: #8544ef; /* #ad327f */
	--color5: #222529; /*  */
	--color6: #313337; /*  */
	--color7: rgba(150,150,150,0.7);
	--color8: #503e6d; /*  */
}
html{
	height: 100%;
	width: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
	height: 100%;
	width: 100%;
}
#root{
	height: 100%;
	width: 100%;
}


#nav_bar{
	padding-right: 10px;
	padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
	justify-content: space-between;
    width : 100%;
    height: 45px;
	min-height: 40px;
    background-color: var(--color1);
}

#side_bar{
	min-width: 100px;
    resize: horizontal;
    width: 300px;
    height: 100%;
    background-color: var(--color2);
    overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid var(--color6);
}


#main_window{ 
    width: 100%;
	height: calc(100% - 45px);
    display: flex;
    flex-direction: row;
}

/*
    border: 1px solid #29262f;
    */
#main_container{
    width: 100%;
    height: 100%;
    background-color: var(--color3);
	display: flex;
	flex-direction: column;
}




/*********************************************************************************************/


#app_bar_search{
    background-color: var(--color4);
    border: 1px solid var(--color7);
    height: 100%;
	width: 100%;
    border-radius: 5px;
    color: var(--text-color);
    padding-left: 10px;
}

#app_bar_div1{
	width: 50%;
	height: 60%;
    float: left;
	position: relative;
	margin-left: 25px
}
#app_bar_div1 > :first-child{
	position: absolute;
	left: -25px;
	top: 6px;
}
#app_bar_div1 > :nth-child(3){
	position: absolute;
	right: 10px;
	top: 6px;
}
#app_bar_div1 > :nth-child(4){
	position: absolute;
	right: 35px;
	top: 6px;
}

#app_bar_div2{
	display: flex;
	align-items: center;
	height: 60%;
    float: right;
}
#app_bar_div2 > :first-child{
	margin-right: 10px;
	cursor: pointer;

}
#app_bar_div2 > :nth-child(2){
	width: 30px;
	height: 30px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#app_bar_div2 > :nth-child(2) > :first-child{
	width: 100%;
	height: 100%;
}
#rich_text_input{
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
}
#rich_text_input_content{
    height: 100%;
    border: var(--color7) solid 1px;
    border-radius: 10px;
    background-color: var(--color5);
	padding: 5px;
}
#rich_text_field{/*
	height: 34px;
	padding: 7px;
	resize: none;
	width: 100%;
	background-color: var(--color5);
	border: none;
	outline: none;
	color: var(--color_text)*/
	max-height: 200px;
	overflow-y: auto;
	padding: 10px;
	width: 100%;
	background-color: var(--color5);
	border: none;
	outline: none;
	color: var(--color_text)
}
#rich_text_bottom_icon_bar, #rich_text_top_icon_bar{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	background-color: transparent;
	height: 35px;
	width: 100%;
}
#rich_text_bottom_icon_bar{
	justify-content: space-between;
}

#submit_text:disabled{
	background-color: red;
}
#submit_text{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
	background-color: var(--color1);
	border-radius: 5px;
}
#submit_text:hover{
	background-color: var(--color4);
}
#submit_text > div:first-child{
	padding: 5px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-items: center;
}
#submit_text > div:nth-child(3){
	padding: 5px;
	display: flex;
	align-items: center;
	justify-items: center;
}
#submit_text > div:nth-child(3) > *{
	height: 16px;
	width: 16px;
}
#submit_text > div:nth-child(2){
	height: 18px;
	width: 1px;
	background-color: green;
	border-left: var(--color7) 0.1px solid;
}


#messages_cntainer{
    /*height: calc(100% - 200px);*/
    overflow-y: auto;
}


.text_icons{
	display: flex;
	align-items: center;
	height: 100%;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	background-color: transparent;
	cursor: pointer;
}
.text_icons:disabled > *{
	color: rgb(89, 84, 84);
}
.text_icons:hover:enabled{
	background-color: var(--color1);
}
.text_icons > *{
	color: var(--text-color);
	width: 30px;
	height: 30px;
	padding: 5px;
}


/*********************************************************************************************/





#workspace_div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	height: 50px;
	border-bottom: 1px solid var(--color6);
	font-weight: 700;
	cursor: pointer;
}
#workspace_div > :first-child{
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}
#workspace_div > div:nth-child(2){
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 10px;
}
#workspace_div > div:nth-child(3){
	font-size: 18px;
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 100%;
	background-color: var(--text-color);
}
#workspace_div > div:nth-child(3) > * {
	color: var(--color2);
	cursor: pointer;
}

.side_bar_elements{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid var(--color6);
	padding-top: 15px;
	padding-bottom: 15px;
}
.side_bar_elements:last-child{
	padding-bottom : 0px;
	border : none;
}

.side_bar_sub_elements{
	cursor: pointer;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.side_bar_sub_elements:not(#channels_title_element):not(#users_channels_title_element):hover{
	background-color: var(--color8);
}

#workspace_div:hover {
	background-color: var(--color8);
}

#channels_title_element, #users_channels_title_element{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
#channels_title_element > div:first-child > div:first-child, #channels_title_element > div:nth-child(2) > *,
#users_channels_title_element > div:first-child > div:first-child, #users_channels_title_element > div:nth-child(2) > *{
	display: flex;
	align-items: center;
	margin-right: 10px;
	border-radius: 5px;
	font-size: 18px;
	padding: 5px;
}
#channels_title_element > div:first-child > p, #users_channels_title_element > div:first-child > p{
	display: flex;
	align-items: center;
}
#channels_title_element > div:first-child > div:first-child:hover, #channels_title_element > div:nth-child(2) > *:hover,
#users_channels_title_element > div:first-child > div:first-child:hover, #users_channels_title_element > div:nth-child(2) > *:hover{
	background-color: var(--color4);
}
#channels_title_element > div, #users_channels_title_element > div{
	display: flex;
	flex-direction: row;
}
.side_bar_sub_elements{
	display: flex;
	flex-direction: row;
}
.side_bar_sub_elements > div:first-child > {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-right: 10px;
	border-radius: 5px;
	padding: 5px;
}
.side_bar_sub_elements > p {
	display: flex;
	align-items: center;
}
.channels_elements > div:first-child > :first-child{
	font-size: 18px;
	margin-left: 5px;
	margin-top: 5px;
}
.channels_elements > :nth-child(2){
	padding-right: 20px;
	padding-left: 15px;
}


.users_channels_elements > div:first-child > :first-child{
	font-size: 18px;
	margin-left: 5px;
	margin-top: 5px;
}
.users_channels_elements > :nth-child(2){
	padding-right: 20px;
	padding-left: 15px;
}
/*********************************************************************************************/



#main_container_title_bar{
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 50px;
	border-bottom: 1px solid var(--color6);
	font-weight: 700;
	font-size: 18px;

}
#main_container_title{
	margin-top: 3px;
}
#main_container_options{
	display: flex;
	align-items: center;
	justify-items: center;
}
#main_container_options > div:first-child{
	border: solid 1px var(--color7);
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-items: center;
	cursor: pointer;
}
#main_container_options > div:first-child > p{
	padding-left: 10px;
	padding-right: 5px;
}
#main_container_options > div:nth-child(2){
	border: solid 1px var(--color7);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-items: center;
	cursor: pointer;
}
.person_icon{
	width: 25px;
	height: 25px;
}

/*********************************************************************************************/


.sener_pfp{
	width: 40px;
	height: 40px;
	border-radius: 5px;
}



/*
.period_of_messages{
	border-top: solid 1px var(--color6);
}
.period_of_messages:first-child{
	border-top: none;
}
*/
.period_of_messages_button_div{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}
.period_of_messages_button{
	width: 20%;
	color: var(--text_color);
	padding: 5px;
	background-color: var(--color3);
	border: var(--color6) 1px solid;
	border-radius: 50px;

}
.period_of_messages_button_div::before, .period_of_messages_button_div::after{
	content: ' ';
	width: 40%;
	height: 1px;
	vertical-align: super;
	background-color: var(--color6);
	display: inline-block;
}

.message{/*
	margin-top: 15px;
	margin-bottom: 15px;*/
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}
.message_same_user{
	padding-left: 70px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.message_data{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}
.message:hover, .message_same_user:hover{
	background-color: var(--color6);
}

.message_user{
	font-weight: 700;
}
.message_time{
	padding-left: 10px;
	margin-top: 3px;
	color: var(--color7);
	font-size: 12px;
	font-weight: 400;
}
.message_content{
	font-weight: 300;
}
.sender_data{
	display: flex;
	flex-direction: row;
}






/*********************************************************************************************/


#add_channel_modal, #add_member_modal, #add_chat_modal{
	padding: 30px;
	background-color: var(--color3);
	border-radius: 10px;
	width: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#add_channel_modal div, #add_member_modal > div, #add_chat_modal > div{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
#add_channel_modal > div:first-child,
#add_member_modal > div:first-child,
#add_chat_modal > :first-child{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#add_channel_modal > div:first-child > *:nth-child(2),
#add_member_modal > div:first-child > *:nth-child(2),
#add_chat_modal > div:first-child > *:nth-child(2){
	width: 30px;
	height: 30px;
	background-color: transparent;
	cursor: pointer;
	border-radius: 5px;
	align-self: center;
}
#add_channel_modal > div:first-child > *:nth-child(2):hover,
#add_member_modal > div:first-child > *:nth-child(2):hover,
#add_chat_modal > div:first-child > *:nth-child(2):hover{
	background-color: var(--color6);
}




#add_chat_modal > :nth-child(2) > :first-child{
	width: 100%;
	height: 40px;
	background-color: transparent;
	border-radius: 10px;
	border: var(--color7) 1px solid;
	color: var(--text-color); 
	font-size: 15px;
	padding: 10px;
	margin-top: 20px;
}
#add_chat_modal > :nth-child(2) > :nth-child(2){
	margin-top: 20px;
	border-radius: 5px;
	background-color: var(--color1);
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	float: right;
}





#add_channel_modal div:nth-child(2) > :nth-child(3){
	position: relative;
}
#add_channel_modal div:nth-child(2) > :nth-child(3) > :first-child{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
}
#add_channel_modal div:nth-child(2) > :nth-child(3) > :nth-child(3){
	background-color: var(--color2);
	position: absolute;
	top: -10px;
	left: calc(100% - 40px);
	width: 40px;
	height: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}
#add_channel_modal div:nth-child(2), #add_channel_modal div:nth-child(3){
	display: flex;
	flex-direction: column;
}
#add_channel_modal input{
	width: 100%;
	height: 40px;
	background-color: transparent;
	border-radius: 10px;
	border: var(--color7) 1px solid;
	color: var(--text-color); 
	font-size: 15px;
	padding: 10px;
	padding-left: 40px;
}
#add_channel_modal label{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
}
#add_channel_modal p{
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#add_channel_modal span{
	padding-top: 10px;
	color: gray;
}




#add_channel_modal div:nth-child(4){
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#add_channel_modal div:nth-child(4) > div{
	width: fit-content;
}

#add_channel_modal div:nth-child(5){
	width: 100%;
	display: flex;
	justify-content: right;
}
#add_channel_modal div:nth-child(5) > button{
	border-radius: 5px;
	background-color: var(--color1);
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

#add_channel_modal div:nth-child(5) > button:disabled{
	background-color: var(--color7);
}









#add_chat_modal{}


















.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--color7);
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--color1);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--color1);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}




















#add_member_modal > :nth-child(2){
	border-bottom: var(--color7) 1px solid;
	display: flex;
	flex-direction: row;
}
#add_member_modal > :nth-child(2) > *{
	height: 40px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
    box-sizing: border-box;

}
#add_member_modal > :nth-child(2) > *:hover{
	background-color: var(--color4);
}


#add_member_modal > :nth-child(3) {
	display: flex;
	flex-direction: column;
}

#add_member_modal > :nth-child(3) > :first-child > :nth-child(2){
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	border: var(--color7) 1px solid;
	padding: 10px;
}
#add_member_modal > :nth-child(3) > :first-child > :nth-child(3){
	width: 100%;
	display: flex;
	justify-content: right;
}
#add_member_modal > :nth-child(3) > :first-child > :nth-child(3) > :nth-child(2){
	color: var(--text-color);
	border-radius: 10px;
	border: none;
	padding: 10px;
	background-color: var(--color4);
}
#add_member_modal > :nth-child(3) > :first-child > :nth-child(3) > :nth-child(2):disabled{
	background-color: var(--color6);
}

#add_member_modal > :nth-child(3) > :first-child > :first-child{
	max-height: 300px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
}

.email_box{
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	border: var(--color4) dotted 2px;
	display: flex;
	align-items: center;
	max-width: 50%;
}

.email_box > :first-child{
	
	text-overflow: ellipsis;
	overflow: hidden; 
	white-space: nowrap;
}
.email_box > :nth-child(2){
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin-left: 5px;
	border-radius: 4px;
}

.email_box > :nth-child(2):hover{
	background-color: var(--color6);
}


#add_member_modal > :nth-child(3) > :first-child >:nth-child(3){
	height: 100%;
}
#add_member_modal > :nth-child(3) > :first-child >:nth-child(3) > :first-child > :first-child{
	height: 100%;
	margin-right: 10px;
	padding: 5px;
	color: var(--text-color);
	background-color: transparent;
	border: red dotted 2px;
	border-radius: 10px;
}
#add_member_modal > :nth-child(3) > :first-child >:nth-child(3) > :first-child > :first-child:hover{
	background-color: red;
	border: var(--color4) dotted 2px;

}

#add_member_modal > :nth-child(3) > :nth-child(2) > :first-child{
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	border-radius: 10px;
	border: var(--color7) 1px solid;
	position: relative;
} 
#add_member_modal > :nth-child(3) > :nth-child(2) > :first-child > :first-child {
	width: 100%;
	padding: 10px;	
	border-radius: 10px;
	height: 100%;
}
#add_member_modal > :nth-child(3) > :nth-child(2) > :first-child > :nth-child(2){
	position: absolute;
	background-color: var(--color2);
	padding: 12px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	top: 0px;
	right: 0px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
#add_member_modal > :nth-child(3) > :nth-child(2) > :first-child > :nth-child(2):hover{
	background-color: var(--color1);
}

#add_member_modal > :nth-child(3) > :nth-child(2) > :nth-child(2){
	color: var(--text-color)var(--text-color);
	border-radius: 10px;
	border: none;
	padding: 10px;
	background-color: var(--color4);
	float: right;
}



/*********************************************************************************************/



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}









/*********************************************************************************************/

















.loader_parent{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-items: center;
}
.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
















































































































































/*
--primary_color: #6715eb ;
--secondary_color: #8544ef ;
*/




#front_page{
	background-color: #4a154b;
	padding: 30px;
}


#front_nav{
	height: 45px;
}

#front_div1{
	margin: auto;
	padding: 20px;
	background-color: #6715eb;
}

#front_div2{

}











.front_workspace_div{
	border-radius: 10px;
	border: 5px solid #6e446f;
}
.front_workspace_div > :first-child{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	height: 50px;
	background-color: #ecdeec;
	display: flex;
	align-items: center;
	padding: 20px;
	color: black;
	justify-content: space-between;
}
.front_workspace_div > :nth-child(2) > :first-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
}
.front_workspace_div > :nth-child(2) > :first-child > :first-child > img{
	height: 70px;
}
.front_workspace_div > :nth-child(2) > :first-child > :first-child{
	margin-right: 20px;
	background-color: red;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.front_workspace_div > :nth-child(2){
	color: black;
	height: 100px;
	padding: 20px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.front_workspace_div > :nth-child(2) button {
	background-color: #4a154b;
	padding: 20px;
	border-radius: 10px;
	border: none;
	color: var(--text-color); 
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 700;
	cursor: pointer;
}