<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../index.css">
</head>
    <body>
    
















    <nav id="nav_bar">


        <div id="app_bar_div1">
            <input id="app_bar_search" type="text" placeholder="you can search here"/>
        </div>
    
    
    
        <div id="app_bar_div2">
            <img class='sener_pfp' src="/img.png" alt="unavailable" />
            {/*<Link to='/login'>login</Link>*/}
        </div>
    
    
    </nav>
    <div id="main_window">
        <div id='side_bar'>
    
    
            <div class='side_bar_elements'  id='workspace_div'>
                
            </div>
    
    
            <div id='side_bar_options' class='side_bar_elements' >
                <div class='options_elements side_bar_sub_elements'></div>
                <div class='options_elements side_bar_sub_elements'></div>
                <div class='options_elements side_bar_sub_elements'></div>
            </div>
    
    
            <div id='side_bar_channels' class='side_bar_elements'>
                <div class='channels_elements side_bar_sub_elements'></div>
                <div id='side_bar'>
    
    
                    <div class='side_bar_elements'  id='workspace_div'>
                        
                    </div>
        
        
                    <div id='side_bar_options' class='side_bar_elements' >
                        <div class='options_elements side_bar_sub_elements'></div>
                        <div class='options_elements side_bar_sub_elements'></div>
                        <div class='options_elements side_bar_sub_elements'></div>
                    </div>
        
        
                    <div id='side_bar_channels' class='side_bar_elements' >
                        <div class='channels_elements side_bar_sub_elements'></div>
                        <div class='channels_elements side_bar_sub_elements'  ></div> 
                        <div class='channels_elements side_bar_sub_elements'  ></div> 
                        <div class='channels_elements side_bar_sub_elements'  ></div> 
                        <div class='channels_elements side_bar_sub_elements'  ></div> 
                    </div>
        
        
                    <div id='side_bar_chats' class='side_bar_elements' >
                        <div class='chats_elements side_bar_sub_elements' ></div>
                        <div class='chats_elements side_bar_sub_elements' ></div>
                        <div class='chats_elements side_bar_sub_elements' ></div>
                        <div class='chats_elements side_bar_sub_elements' ></div>
                        <div class='chats_elements side_bar_sub_elements' ></div>
                    </div>
                
                
                
                </div>
            
        
        
                
            </div>
    
    
            <div id='side_bar_chats' class='side_bar_elements' >
                <div class='chats_elements side_bar_sub_elements' ></div>
                <div class='chats_elements side_bar_sub_elements' ></div>
                <div class='chats_elements side_bar_sub_elements' ></div>
                <div class='chats_elements side_bar_sub_elements' ></div>
                <div class='chats_elements side_bar_sub_elements' ></div>
            </div>
        
        
        
        </div>
    
    
        <div id='main_container'>
    
    
    
    
    
            <div>
                <div id='main_container_title_bar'>
                    <div id='main_container_title'></div>
                    <div id='main_container_options'></div>
                </div>
                <div id='messages_cntainer'>
                    <div class='period_of_messages'>
                        <div class="period_of_messages_button_div">
                            <button class="period_of_messages_button"></button>
                        </div>
                        <div class="message">
                            <img class='sener_pfp' src="" alt="unavailable" />
                            <div class='message_data'>
                                <div class='sender_data'>
                                    <p class='message_user'>username</p>
                                    <p class='message_time'>time</p>
                                </div>
                                <p class="message_content">message big</p>
                            </div>
                        </div>
                        <div class='message_same_user'>
                            <p class="message_content">e  e bigege bigessage bigessage </p>
                        </div> 
                    </div>
                </div>
            </div>
    
    
    
    
    
    
    
            <Rich_text_input/>
    
    
    
    
        </div>
    </div>



































</body>
</html>








